<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <div class="affix side-menu">
          <h3><%= @room.name %></h3>
          <ul id="users-list">
            <% @users.each do |user| %>
              <% if user.username != current_user.username %>
                <li>
                  <h4><%= user.username %></h4>
                  <%= image_tag "green_dot.png", id: "#{user.id}-active"%>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%= link_to "invite people", room_memberships_path(@room) %>
      </div>
    </div>

    <div class="col-sm-9">
    <div class="well">

      <div id="messages">
        <%= render @messages %>
      </div>

      <div class="alert alert-success"></div>
      <div class="alert alert-info"></div>

      <%= render partial: "/messages/form", locals: {room: @room, message: @message} %>

    </div>
  </div>

</div>