<div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
    <% @users.each do |user| %>
      <li>
        <span><%= user.username %></span>
        <%= image_tag "green_dot.png", id: "#{user.id}-active" %>
      </li>
    <% end %>
  </ul>
</div>

<div id="container">
  <div id="page-content-wrapper">
    <div class="well">

      <div id="messages">
        <%= render @messages %>
      </div>

      <div class="alert alert-success">
        blah blah blah
      </div>

        <%= form_for @message do |f| %>

          <%= f.hidden_field :room_id, value: @room.id %>

          <%= f.label :content %>
          <%= f.text_field :content %>

          <%= f.submit %>

        <% end %>

      </div>

    </div>

  </div>
</div>